@namespace Blazor.BUnit.Tests
@attribute [TestClass]
@code
{
    [TestMethod]
    public void Test()
    {
        using var ctx = new Bunit.TestContext();

        var lines = new List<string> { "Hello", "World" };

        var cut = ctx.Render(@<RenderFragmentParams>
                                <Content>
                                    <Alert Heading="Alert heading" Type=@AlertType.Warning>
                                        <p>Hello World</p>
                                    </Alert>
                                </Content>
                              </RenderFragmentParams>);
    }
}
