@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using System.Globalization
@namespace Blazor.BUnit.Wasm

<h1>User Rights</h1>

<AuthorizeView Context="AuthState">
    <h1>Hi @AuthState.User.Identity.Name, you have these claims and rights:</h1>
</AuthorizeView>

<ul>
    <!-- Roles -->
    <AuthorizeView Roles="admin">
        <li>You have the role «admin»</li>
    </AuthorizeView>
    <AuthorizeView Roles="staff">
        <li>You have the role «staff»</li>
    </AuthorizeView>

    <!-- Policies -->
    <AuthorizeView Policy="editor">
        <li>You are a «editor»</li>
    </AuthorizeView>
    <AuthorizeView Policy="approver">
        <li>You are a «approver»</li>
    </AuthorizeView>

    <!-- Claims -->
    <AuthorizeView>
        @foreach (var claim in @context.User.FindAll(x => x.Type != ClaimTypes.Name && x.Type != ClaimTypes.Role))
        {
            <li>@GetClaimName(claim): @claim.Value</li>
        }
    </AuthorizeView>
</ul>

@code
{
    private static string GetClaimName(Claim claim)
    {
        var claimType = new Uri(claim.Type);
        return claimType.Segments.Last();
    }
}
