@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@namespace Blazor.BUnit.Wasm

<h1>User Info</h1>

@if (isAuthenticated)
{
    <h1>Welcome @name</h1>
}
@if (!isAuthenticated)
{
    <h1>Please log in!</h1>
}
<AuthorizeView>
    <Authorized>
        <p>State: Authorized</p>
    </Authorized>
    <Authorizing>
        <p>State: Authorizing</p>
    </Authorizing>
    <NotAuthorized>
        <p>State: Not authorized</p>
    </NotAuthorized>
</AuthorizeView>

@code
{
    bool isAuthenticated = false;
    string name;

    protected override async Task OnParametersSetAsync()
    {
        var state = await AuthStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = state.User.Identity.IsAuthenticated;
        name = state.User.Identity.Name;
    }
}
