@page "/await"

<h1>Index await</h1>

<hr />

<button @onclick="ChangeName">Chagne Name</button>
<button @onclick="ChangeAge">Chagne Age</button>

<hr />

@if (show)
{
    <div>
        <TestAwaitLifecyle Name="@Name" Age="@Age"></TestAwaitLifecyle>
    </div>
}

<hr />

<button @onclick="Toggle">Toggle</button>


@code {
    private string Name { get; set; } = "saleh";
    private int Age { get; set; }

    private bool show = true;

    private Random Rnd = new Random(20);

    private void ChangeAge()
    {
        Age = Rnd.Next();
    }

    private void ChangeName()
    {
        Name = Name == "saleh" ? "yasser" : "saleh";
    }

    private void Toggle()
    {
        show = !show;
    }
}
