@namespace Blazor.BUnit.Tests
@inherits BunitTestContext
@attribute [TestClass]
@code
{
    [TestMethod,
        DataRow(new string[] { "one", "two", "three" }, 1),
        DataRow(new string[] { "saleh", "yasser", "khasi" }, 2),
        DataRow(new string[] { "blazor", "is", "awesome" }, 3),
    ]
    public void WordsAndNumberComponentShouldRenderCorrectly(string[] words, int number)
    {
        // Arrange
        // it is implemented in the base class

        // Act
        var cut = Render(@<WordsAndNumber Words="words" Number="number" />);

        // Assert
        cut.MarkupMatches(@<text><span>@number</span>: @string.Join(", ", words)</text>);
    }
}
