@namespace Blazor.BUnit.Wasm
<h1>Semantic Comparison</h1>

<h2 class="test" required>This is test</h2>
<h3>This is <b> test </b></h3>
<pre>
    This is test
    <span> ttt </span>
</pre>
<h4 class="tEST">tHIS IS Test</h4>
<h5 title="test title">This is 2021</h5>